page-booking {

    .button_grid{
        
        margin-top:20px;
    }
    #bookButton{
        margin-left: 50px;
        margin-right: 50px;
        border-radius:5px;
    }
    #cancelButton{
        
        border-radius:5px;
        margin-left: 100px; 
        margin-right: 100px;
        
    }
}
