page-booking {

    .button_grid{
        margin-left:75px; 
        margin-top:20px;
    }
    #bookButton{
        width:207px; 
        border-radius:5px;
    }
    #cancelButton{
        margin-left:45px; 
        border-radius:5px; 
        width:119px;
    }
}
