page-stations {
.stationCard{
    height: 200px;
    border-radius: 5px;
}
#stationFooter{
    margin-top: -87px;
    height: 30px;
    background-color: #841F2C;
    text-align: center;
    margin-left:-5px;
    margin-right: -5px;
}
#stationImage{
    margin-left:-5px;
    margin-right:-15px;
    margin-top:-5px; 
    margin-bottom: 30;
    height: 260px;
    width:460px;
}
#footerText{
    color: white;
    font-size: 18px;
}
}
